
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="index.html">
          <span class="align-middle">Géstion du signalement</span>
        </a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Pages
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" routerLink="/customer/home">
              <i class="align-middle" data-feather="home"></i> <span class="align-middle">Accueil</span>
            </a>
					</li>

          <li class="sidebar-item">
					<a class="sidebar-link">
            </a>
					</li>

           <li class="sidebar-item">
					<a class="sidebar-link">
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" routerLink="/customer/profile" >
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
            </a>
					</li>

           <li class="sidebar-item">
					<a class="sidebar-link">
            </a>
					</li>
           <li class="sidebar-item">
					<a class="sidebar-link">
            </a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" routerLink="/customer/recherche">
              <i class="align-middle" data-feather="search"></i> <span class="align-middle">Recherche</span>
            </a>
					</li>
				</ul>
			</div>
		</nav>


