
<div class="wrapper">
		<header-root></header-root>
  	<div class="main">
			<app-nav></app-nav>

      <main class="content">
				<div class="container-fluid p-0">
					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Profile</h1>
					</div>
					<div class="row">
						<div class="col-md-4 col-xl-3">
              <profile-root></profile-root>
            </div>
            <div class="col-md-8 col-xl-9">
              <app-list-signalement></app-list-signalement>
            </div>
					</div>
				</div>
			</main>
    </div>
</div>
<footer-root></footer-root>



