
    <main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">Recherche Avancé</h1>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
								<form id="login_form">
                  <div class="mb-3">
                    <label class="form-label">Type signalement :</label>
                    <select class="form-select mb-3">
                      <option selected>Open this select menu</option>
                      <option>One</option>
                      <option>Two</option>
                      <option>Three</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Statuts :</label>
                    <select class="form-select mb-3">
                      <option selected>Open this select menu</option>
                      <option>One</option>
                      <option>Two</option>
                      <option>Three</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Du date de :</label>
                    <input class="form-control form-control-lg" type="date" name="password" placeholder="Entre votre mot de passe" />

                  </div>

                  <div class="mb-3">
                    <label class="form-label"> à:</label>
                    <input class="form-control form-control-lg" type="date" name="password" placeholder="Entre votre mot de passe" />

                  </div>

                  <div class="text-center mt-3">

                    <a routerLink="/login" class="btn btn-lg btn-primary" id="btn">
                      <i class="align-middle" data-feather="search"></i>
                      <span class="align-middle">Valider</span>
                    </a>

                  </div>
                </form>
								</div>

							</div>
						</div>
					</div>

          <app-list-signalement-recherche></app-list-signalement-recherche>
				</div>
			</main>
