
							<div class="card mb-3">
								<div class="card-body">
									<h5 class="h6 card-title">A propos</h5>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> Region : <a href="#">{{chefRegion.nameRegion}}</a></li>
										<li class="mb-1"><span data-feather="map-pin" class="feather-sm me-1"></span> Travail à :<a href="#">{{chefRegion.nameRegion}}</a></li>
										<li class="mb-1"><span data-feather="user" class="feather-sm me-1"></span> Nom : <a href="#">{{chefRegion.name}}</a></li>
									<li class="mb-1"><span data-feather="user" class="feather-sm me-1"></span> PréNom : <a href="#">{{chefRegion.firstName}}</a></li>
                  </ul>
								</div>
								<hr class="my-0" />

							</div>

